In [1]:
from collections import defaultdict
import pandas as pd

In [2]:
data = []
test = []
with open('./data.txt') as f:
    for line in f:
        line = line.replace('\n', '')
        data.append(line.split(' '))
df = pd.DataFrame(data, columns=['object1', 'operator', 'amount', 'if', 'object2', 'condition', 'amount_for_condition'])

# Cast 'amount' and 'amount_for_condition' to int
df['amount'] = df['amount'].astype(int)
df['amount_for_condition'] = df['amount_for_condition'].astype(int)

In [3]:
df.head()

  object1 operator  amount  if object2 condition  amount_for_condition
0       j      inc     -19  if     jhb        >=                    10
1      es      inc    -432  if     gbu        <=                    -5
2      es      inc     278  if      ib         >                    -9
3      es      inc    -835  if      ib        >=                    -6
4       q      dec     420  if     buw        ==                    -2

In [4]:
objects = defaultdict(int)

In [5]:
# Set all objects to 0 by checking presence in defaultdict
for obj in df.object1.unique():
    objects[obj]

### Step 1, loop over every row in df
### Step 2, decipher conditions by calling relevant object in objects defaultdict
### Step 3, if condition satisfies, adjust value
### Step 4, get maximum value

In [6]:
def apply_condition(condition_string, object2, amount_for_condition):
    
    allowed_conditions = ('>=', '<=', '>', '<', '==', '!=')
    if condition_string not in allowed_conditions:
        raise ValueError('Condition {} not found'.format(condition_string))
        
    if condition_string == '>=':
        if object2 >= amount_for_condition:
            return True
    
    elif condition_string == '<=':
        if object2 <= amount_for_condition:
            return True
    
    elif condition_string == '>':
        if object2 > amount_for_condition:
            return True
        
    elif condition_string == '<':
        if object2 < amount_for_condition:
            return True
        
    elif condition_string == '==':
        if object2 == amount_for_condition:
            return True
    
    elif condition_string == '!=':
        if object2 != amount_for_condition:
            return True
    
    return False

In [7]:
max_value = 0

for _, row in df.iterrows():
    # Check if condition is met:
    if max(objects.values()) > max_value:
        max_value = max(objects.values())
    if apply_condition(row['condition'], objects[row['object2']], row['amount_for_condition']):
        value = row['amount']
        # If operator is to decrease, multiply value by -1
        if row['operator'] == 'dec':
            value *= -1
        
        # Update value
        objects[row['object1']] += value

In [8]:
max(objects.values()), max_value

(3745, 4644)